.container {
    border: 1px solid hsl(0, 0%, 100%);
    padding: 5px;
}

.container2 {
    border: 1px solid hsl(0, 0%, 100%);
    padding: 5px;
    background: #019901;
}

.container21 {
    border: 1px solid hsl(0, 0%, 100%);
    padding: 5px;
    width: 50%;
}

.container-second {
    width: 40%;
}